<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661953241122-6f8shcbtbr7pr8jsld2okr4022jj8in2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661953241122-6f8shcbtbr7pr8jsld2okr4022jj8in2</string>
	<key>API_KEY</key>
	<string>AIzaSyA9yDwwBcuzbwkcHcFMo_uqKMlXYt66PAI</string>
	<key>GCM_SENDER_ID</key>
	<string>661953241122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-8eaec</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-8eaec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661953241122:ios:a5fb66ecaa2afe4f3d2a7b</string>
</dict>
</plist>